<h1><%= @task.title%></h1>
<p><%= @task.details %></p>

<%= link_to 'Back to list', tasks_path %>
<%= link_to 'Edit Task', edit_task_path(@task), class: 'btn btn-success mb-3' %>
<%= link_to 'delete Task', destroy_task_path(@task), class: 'btn btn-success mb-3', data: { turbo_method: :delete, turbo_confirm: "Vous êtes-sûr ?" } %>
